---
- name: Add the flathub flatpak repository remote to the user installation
  flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

- name: Install video editing tools
  flatpak:
    name: "{{ item }}"
    state: present
    method: user
  with_items:
    - org.kde.krita
    - org.kde.kdenlive

- name: Install development tools
  flatpak:
    name: "{{ item }}"
    state: present
    method: user
  with_items:
    - com.getpostman.Postman
    - org.ghidra_sre.Ghidra
    - com.google.AndroidStudio
    
- name: Install system utilities
  flatpak:
    name: "{{ item }}"
    state: present
    method: user
  with_items:
    - de.haeckerfelix.Fragments
    - org.gnome.Extensions
    - io.missioncenter.MissionCenter
    - com.github.tchx84.Flatseal
    - com.vysp3r.ProtonPlus
    - app.devsuite.Ptyxis
    - org.gnome.Firmware
    - io.podman_desktop.PodmanDesktop

- name: Install communication tools
  flatpak:
    name: "{{ item }}"
    state: present
    method: user
  with_items:
    - com.discordapp.Discord
    - org.signal.Signal
    - org.telegram.desktop
    - com.slack.Slack
    - us.zoom.Zoom
    - com.rtosta.zapzap
    - com.github.IsmaelMartinez.teams_for_linux

- name: Install common tools
  flatpak:
    name: "{{ item }}"
    state: present
    method: user
  with_items:
    - com.vivaldi.Vivaldi
    - org.zotero.Zotero
    - io.github.kolunmi.Bazaar

- name: Update flatpaks
  shell:
    cmd: flatpak update -y
