---
- name: Add the flathub flatpak repository remote to the user installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

- name: Install video editing tools
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: user
  loop:
    - org.kde.krita
    - org.kde.kdenlive

- name: Install development tools
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: user
  loop:
    - com.getpostman.Postman
    - org.ghidra_sre.Ghidra
    - com.google.AndroidStudio

- name: Install system utilities
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: user
  loop:
    - de.haeckerfelix.Fragments
    - org.gnome.Extensions
    - io.missioncenter.MissionCenter
    - com.github.tchx84.Flatseal
    - com.vysp3r.ProtonPlus
    - app.devsuite.Ptyxis
    - org.gnome.Firmware
    - io.podman_desktop.PodmanDesktop

- name: Install communication tools
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: user
  loop:
    - com.discordapp.Discord
    - org.signal.Signal
    - org.telegram.desktop
    - com.slack.Slack
    - us.zoom.Zoom
    - com.rtosta.zapzap
    - com.github.IsmaelMartinez.teams_for_linux

- name: Install common tools
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: user
  loop:
    - com.vivaldi.Vivaldi
    - org.zotero.Zotero
    - io.github.kolunmi.Bazaar

# Usually flatpak modules handle updates via state: latest, but this shell command is fine for a blanket update.
- name: Update flatpaks
  ansible.builtin.shell:
    cmd: flatpak update -y