---
- name: Install the rpmfusion repo packages
  dnf:
    disable_gpg_check: yes
    name:
      - 'https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version  }}.noarch.rpm'
      - 'https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm'
    state: present
  become: True

- name: Add winerepo
  shell:
    cmd: dnf config-manager addrepo --from-repofile=https://dl.winehq.org/wine-builds/fedora/{{ ansible_distribution_major_version  }}/winehq.repo
  become: True

- name: Add CachyOS Kernel
  shell:
    cmd: dnf copr enable bieszczaders/kernel-cachyos
  become: True

- name: Enable Kernel Modules
  shell:
    cmd: setsebool -P domain_kernel_load_modules on
  become: True

- name: Install Terra
  shell:
    cmd: dnf install --nogpgcheck --repofrompath 'terra,https://repos.fyralabs.com/terra$releasever' terra-release
    state: present
  become: True

- name: Install Administrative tools
  dnf:
    name:
      - timeshift
    state: present
  become: True


- name: Install common tools
  dnf:
    name:
      - ghostty
      - htop
      - zsh
      - unrar
      - kernel-cachyos
      - kernel-cachyos-devel-matched
    state: present
  become: True

- name: Install development tools
  dnf:
    #disable_gpg_check: yes
    name:
      - java-latest-openjdk
      - cmake
      - neovim
      - nodejs
      - php
      - composer
      - Lmod
      - code
    state: present
  become: True

- name: Install Pentesting tools
  dnf:
    name:
      - wireshark
      - wireshark-gtk
      - nmap
      - aircrack-ng
    state: present
  become: True


- name: Install gaming related tools
  dnf:
    name:
      - winehq-devel
      - steam
      - lutris
    state: present
  become: True

- name: Install video editing tools
  dnf:
    name:
      - obs-studio
    state: present
  become: True

#- name: Configure VirtualBox
#  shell:
#    cmd: akmods; systemctl restart vboxdrv.service
#s  become: yes

- name: Update System
  dnf:
    update_cache: yes
    update_only: yes
    name: '*'
    state: latest
  become: True
