---
- name: Install Administrative tools
  ansible.builtin.dnf:
    name:
      - timeshift
    state: present
  become: true

- name: Install common tools
  ansible.builtin.dnf:
    name:
      - ghostty
      - htop
      - zsh
      - unrar
      - kernel-cachyos
      - kernel-cachyos-devel-matched
    state: present
  become: true

- name: Install development tools
  ansible.builtin.dnf:
    name:
      - java-latest-openjdk
      - cmake
      - neovim
      - nodejs
      - php
      - composer
      - Lmod
      - code
    state: present
  become: true

- name: Install Pentesting tools
  ansible.builtin.dnf:
    name:
      - wireshark
      - nmap
      - aircrack-ng
    state: present
  become: true

- name: Install gaming related tools
  ansible.builtin.dnf:
    name:
      - winehq-devel
      - steam
      - lutris
    state: present
  become: true

- name: Install video editing tools
  ansible.builtin.dnf:
    name:
      - obs-studio
    state: present
  become: true

- name: Update System
  ansible.builtin.dnf:
    update_cache: true
    update_only: true
    name: '*'
    state: latest
  become: true